.input:focus {

}

.input {
    width: 372px;
    height: 36px;
    flex-shrink: 0; 
    outline-color: #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
   display: flex;
   flex-direction: column-reverse;
   gap: 5px;
}

.superInput {
}

.errorInput {
    outline-color:  #CC1439;
}

.errorInput:focus {
}

.error {
    color: #CC1439;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
}
